.settings {
  display: flex;
}

.settings__wrapper {
  flex: 9;
  padding: 20px;
}

.settings__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__updateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.settings__deleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settings__form {
  display: flex;
  flex-direction: column;
}

.settings__picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__controls {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settings__controls > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settings__pictureIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

/* кнопка Выйти */
.settings__logoutBtn {
  color: white;
  background-color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.settings__logoutBtn:hover {
  background-color: rgb(224, 86, 86);
}

.settings__form > label {
  font-size: 20px;
  margin-top: 20px;
}

.settings__input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settings__input:focus {
  outline: none;
}
.settings__input:focus::placeholder {
  opacity: 0.3;
}

.settings__submit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  background-color: teal;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar-container {
  flex: 3;
}

@media screen and (max-width: 900px) {
  .settings {
    flex-direction: column-reverse;
  }
}
